.spotifyCard{
    border: none;
    border-radius: 10px;
    height: 125px;
    width: 180px;
    margin-right: 12px;
    margin-top: 15px;
}
.songName{
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px;
    color: #474EC7;
    margin-left: 2px;   
}