@media screen and (max-width: 480px) {
    .ytCardWrapper{
        border: none;
        border-radius: 10px 10px;
        overflow: hidden;
        margin-left: 5x;
        margin-top: 15px;
        overflow-y: scroll;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
    }
}